name: Sort table

on:
  workflow_dispatch:

jobs:
  sort:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: python3 work.py sort-html-table
